.Dashboard {
  width: calc(100vw - 16px);
  min-height: 100vh;
  height: 100%;
  background-color: #fff;
}

.SideNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 60px;
  background-color: #2e7bee;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  transition: width 200ms ease-in-out;
  z-index: 100;
}

.SideNav:hover {
  width: 240px;
}

.SideNavButton,
.Logo {
  position: relative;
  width: 240px;
  height: 72px;
  border-color: rgba(255, 255, 255, 0.25);
  border-style: solid;
  border-width: 0 0 1px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 44px;
  padding-left: 16px;
  color: #003293;
  cursor: pointer;
  font-weight: 600;
}

.SideNavButton:hover,
.SideNavButton.OnPath {
  background-color: #2570e0;
  color: #fff;
}

.SideNavButton:last-child {
  border-width: 0 0 0 0;
}

.SideNavButton.Selected,
.Logo {
  color: #fff;
}

.Logo {
  font-weight: 800;
}

.LogoIcon {
  font-size: 28px;
}

.DashContainer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  padding-left: 60px;
}

.SignOut {
  position: absolute;
  bottom: 0px;
  text-decoration: none;
}

.TopNav {
  display: none;
}

@media screen and (max-width: 600px) {
  .SideNav {
    display: none;
    width: 240px;
    padding-top: 60px;
  }

  .MenuOpen {
    display: inherit;
  }

  .TopNav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    padding: 0 16px;
    background-color: #2e7bee;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    font-size: 28px;
    z-index: 101;
  }

  .Logo {
    display: none;
  }

  .DashContainer {
    width: 100%;
    margin: 0;
    margin-top: 60px;
    padding-left: 0;
  }

  .Dashboard {
    width: 100vw;
  }
}
