.LogView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.LogView .Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 48px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.LogView .Row {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.LogView .Combine {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.LogView h3 {
  font-size: 16px;
  border-radius: 8px;
  padding: 6px 24px;
  margin-bottom: 72px;
}

.LogView button.BackButton {
  align-self: flex-start;
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px;
  font-size: 20px;
  margin-bottom: 72px;
}

.LogView button.Edit,
.LogView button.Delete {
  border: none;
  margin: 0 24px;
  margin-top: 48px;
  padding: 8px 24px;
  user-select: none;
  cursor: pointer;
  border-radius: 8px;
}

.LogView button.Edit {
  font-weight: 600;
  color: #2e7bee;
}

.LogView button.Edit:hover {
  background-color: #2e7bee41;
}

.LogView button.Edit:active {
  background-color: #173c7468;
}

.LogView button.Delete {
  color: #ee2e2e;
}

.LogView button.Delete:hover {
  background-color: #ee2e2e41;
}

.LogView button.Delete:active {
  background-color: #5f12126d;
}
