.ListView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.ListView div.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
}

.Controls > select,
.Controls > input {
  border-radius: 4px;
  padding: 2px;
}

.Controls > button {
  background: #2e7bee;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  padding: 5px 8px;
}

.ControlsWrapper {
  width: 100%;
}

@media screen and (max-width: 710px) {
}
