.App {
  --shaded6: rgba(0, 0, 0, 0.6);
  --shaded2: rgba(0, 0, 0, 0.2);
  --highlighted6: rgba(255, 255, 255, 0.6);
  --highlighted4: rgba(255, 255, 255, 0.4);
  --highlighted2: rgba(255, 255, 255, 0.2);
  --bg-color: rgba(28, 40, 51, 1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg)-color;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  color: white;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

.TitleArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
  padding-bottom: 16px;
}

label {
  font-size: 20px;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

select,
textarea,
input,
.Submit {
  background-color: var(--shaded2);
  color: white;
  border-radius: 8px;
  border: 1px solid var(--highlighted4);
  padding: 4px 12px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
}

textarea {
  resize: none;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 640px;
  height: 100%;
  max-height: 600px;
  padding: 16px;
  box-sizing: border-box;
}

.Submit {
  background-color: var(--shaded6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  user-select: none;
  border: none;
  box-sizing: border-box;
}

.Submit:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.Disabled {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: var(--highlighted2);
  cursor: default;
  border: none !important;
}

.Success {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  cursor: default;
  animation: successTimer 5000ms;
}

@keyframes successTimer {
  /* You could think of as "step 1" */
  0% {
    background: green;
  }
  /* You could think of as "step 2" */
  100% {
    background: var(--highlighted2);
  }
}

a {
  color: aqua;
}

.DateSelector {
  background-color: var(--shaded2);
  color: white;
  border-radius: 8px;
  border: 1px solid var(--highlighted4);
  padding: 4px 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 16px;
  box-shadow: none;
  box-sizing: border-box;
}

.SignOut {
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  margin-bottom: 24px;
}

input.Number {
  background-color: var(--shaded2);
  color: white;
  border-radius: 8px;
  border: 1px solid var(--highlighted4);
  padding: 4px 16px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 16px;
  box-shadow: none;
  box-sizing: border-box;
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.Checkbox {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
}

.Checkbox > input {
  width: auto;
  margin: 0;
}

button.ToDashboard {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 4px 24px;
  border-radius: 100px;
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  label {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 280px) {
  .Checkbox {
    flex-direction: column;
    gap: 4px;
  }
}
