.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  overflow: hidden;

  --shaded6: rgba(0, 0, 0, 0.6);
  --shaded2: rgba(0, 0, 0, 0.2);
  --highlighted6: rgba(255, 255, 255, 0.6);
  --highlighted4: rgba(255, 255, 255, 0.4);
  --highlighted2: rgba(255, 255, 255, 0.2);
  --bg-color: rgba(28, 40, 51, 1);
}

.SignIn {
  background-color: var(--shaded2);
  color: white;
  border-radius: 8px;
  border: 1px solid var(--highlighted4);
  padding: 4px 12px;
  box-sizing: border-box;
  width: 200px;
  font-size: 16px;
  background-color: var(--shaded6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-top: 24px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  user-select: none;
  border: none;
  box-sizing: border-box;
}

.SignIn:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
